<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>

<div class="resume-box">
	
	<div class="left-section">
		<div class="profile">
		<img src="images/perfil.jpg" class="profile-img">
		<div class="blue-box"></div>
		</div>
		<h2 class="name">Adolfo <br><span>Tesorero</span></h2>
		<p class="n-p">Programador</p>


		<div class="info">
			<p class="heading">Info</p>
			<p class="p1"><span class="span1"><img src="images/direccion.png"></span>Direccion<span> <br>Maracay/Aragua</span></p>
			<p class="p1"><span class="span1"><img src="images/telefono.png"></span>Telefono<span> <br>0412-896-4036</span></p>
			<p class="p1"><span class="span1"><img src="images/correo.jpeg"></span>correo<span> <br>AdoEjemplo@gmail</span></p>
			<p class="p1"><span class="span1"><img src="images/sitio.webp"></span>sitio web<span> <br>www.programacion2.com</span></p>
		</div>

		<div class="info">
			<p class="heading">Social</p>
			<p class="p1"><span class="span1"><img src="images/skype.png"></span>Skype<span> <br><a href="www.skype.com">adotesorero</a></span></p>
			<p class="p1"><span class="span1"><img src="images/twitter.avif"></span>x<span> <br><a href="www.twitter.com">adotesorero</a></span></p>
			<p class="p1"><span class="span1"><img src="images/LinkedIn.webp"></span>Linkdin<span> <br><a href="www.loquesea.com">ado.linkdin</a</span></p>
			<p class="p1"><span class="span1"><img src="images/facebook.webp"></span>Facebook<span> <br><a href=""></a>ado tesorero</span></p>
		</div>

	</div>

	<div class="right-section">
		<div class="right-heading">
			<img src="images/perfilogo.png">
			<p class="p2">Sobre mi</p>
		</div>
		<p class="p3">Soy una persona altamente motivada y apasionada por mi trabajo. Con una formación en curso en ingeniería en sistemas, he adquirido experiencia en múltiples trabajos como atención al cliente. Me considero un profesional proactivo, con habilidades para trabajar en equipo y resolver problemas de manera eficaz. Mi objetivo es seguir creciendo profesionalmente y contribuir al éxito de la empresa en la que me desempeñe</p>

		<div class="clearfix"></div>
		<br><br>
		<div class="right-heading">
			<img src="images/trabajogo.png">
			<p class="p2">Experiencia laboral</p>
		</div>
		<div class="clearfix"></div>
		<div class="lr-box">
		<div class="left">
			<p class="p4">2018 - 2019</p>
			<p class="p5">Desde casa</p>
		</div>

		<div class="right">
			<p class="p4">Reparacion de Pc</p>
			<p class="p5">Independiente</p>
			<p class="p5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		<div class="clearfix"></div>
		</div>

		<div class="lr-box">
		<div class="left">
			<p class="p4">2019 - 2020</p>
			<p class="p5">Desde casa</p>
		</div>

		<div class="right">
			<p class="p4">ciberseguridad</p>
			<p class="p5">independiente</p>
			<p class="p5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		<div class="clearfix"></div>
		</div>

		<div class="lr-box">
		<div class="left">
			<p class="p4">2020 - 2024</p>
			<p class="p5">Desde casa</p>
		</div>

		<div class="right">
			<p class="p4">Diseñador web</p>
			<p class="p5">independiente</p>
			<p class="p5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		<div class="clearfix"></div>
		</div>


		<br>
		<div class="right-heading">
			<img src="images/educacionogo.png">
			<p class="p2">Educacion</p>
		</div>
		<div class="clearfix"></div>
		<div class="lr-box">
		<div class="left">
			<p class="p4">2010 - 2021</p>
			<p class="p5">Maracay</p>
		</div>

		<div class="right">
			<p class="p4">U.E.N Rafael Briceño</p>
			<p class="p5">...</p>
			<p class="p5">Lorem Ipsum is simply dummy text of </p>
		</div>
		<div class="clearfix"></div>
		</div>

		<div class="lr-box">
		<div class="left">
			<p class="p4">2022 - 2024</p>
			<p class="p5">San Juan</p>
		</div>

		<div class="right">
			<p class="p4">UNERG</p>
			<p class="p5">...</p>
			<p class="p5">Lorem Ipsum is simply dummy </p>
		</div>
		<div class="clearfix"></div>
		</div>

		<br>
		<div class="right-heading">
			<img src="images/habilidades.png">
			<p class="p2">Habilidades</p>
		</div>
		<div class="clearfix"></div>
		<div class="s-box">
			<p class="p6">diseñador grafico</p>
			<div id="progress"></div>
			<p class="p6">diseñador web</p>
			<div id="progress1"></div>
			
		</div>
		<div class="s-box">
			<p class="p6">HTML</p>
			<div id="progress2"></div>
			<p class="p6">CSS</p>
			<div id="progress3"></div>
		</div>


		

	</div>

		<div class="clearfix"></div>
	
	

</div>



</body>
</html>